<link href="~/Style/StyleHome.css" rel="stylesheet" />
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color: #ff6a00;">IDEA MANAGEMENT SYSTEM</h1>
    <p class="lead">Welcome to the University of Greenwich ideas management system. Here, university staff can contribute their ideas to help the university continue to improve quality.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="img-rounded">
            <img src="~/Image/user-management.png" width="50" height="50" />
        </div>
        <h2 style="color:cyan">USER MANAGEMENT</h2>
        <p style="color:aliceblue">
            As a admin, you have the right to manage all accounts for this system.
            In this field, you can add, edit, delete the account in this system.
        </p>
        <p>
            @Html.ActionLink("GET START >>", "Index", "Users")
        </p>
    </div>
    <div class="col-md-4">
        <div class="img-rounded">
            <img src="~/Image/Department.png" width="50" height="50" />
        </div>
        <h2 style="color:cyan">MANAGE DEPARTMENT</h2>
        <p style="color:aliceblue">
            As a admin, you have the right to manage all department of Greenwich university.
            In this field, you can add, edit, delete the department for this system.
        </p>
        <p>
            @Html.ActionLink("GET START >>", "Index", "Departments")
        </p>
    </div>
    <div class="col-md-4">
        <div class="img-rounded">
            <img src="~/Image/Role manage.jpg" width="50" height="50" />
        </div>
        <h2 style="color:cyan">ROLE MANAGEMENT</h2>
        <p style="color:aliceblue">
            As a admin, you have the right to manage all roles of Greenwich university.
            In this field, you can add, edit, delete the roles for this system.
        </p>
        <p>
            @Html.ActionLink("GET START >>", "Index", "Roles")
        </p>
    </div>
</div>