@model IEnumerable<IdeaManageApp.Models.Statistic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManagement.cshtml";
}

@if (ViewBag.Role == "Admin")
{
    <!-- Begin Page Content -->
    <div class="container-fluid admin-artcles" style="text-align:center">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">IGRE Statistic</h1>        

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Statistic</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Department Name</th>
                                <th>Contributors</th>
                                <th>Percentage Ideas</th>
                                <th>Total Ideas</th>                                
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><div>@item.departmentName</div></td>
                                    <td><div>@item.contributeNumber</div></td>
                                    <td><div>@item.percentageIdea %</div></td>
                                    <td><div>@item.totalIdea</div></td>                                
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <!-- End of Main Content -->
}

else
{
    <h1 style="text-align:center">You Do Not Have Permission</h1>
}






