<ul class="nav navbar-right" style="color:aliceblue">
    @if (Session["User_Id"] != null)
    {
        <h4 style="color:aliceblue">Hello @Session["Email"]</h4>

        @Html.ActionLink("Logout", "Logout", "Login")
    }

    else
    {
        <li>@Html.ActionLink("Login", "Index", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }
</ul>